# Telco Churn Project

In [7]:
import pandas as pd
import numpy as np
import os
from env import host, user, password

In [ ]:
# As part of the acquire process, I have opted not to include the other tables in the teclco database as the values in that

In [9]:
# This is the one I'll use for my acquire file in the Telco Churn project. Being explicict in my SQL query allows me to only pull the extra info from the columns in the other tabes that I actually need, instead of returning the repeated foreign key columns. Saves me time on the prepare step.

my_telco_query = '''SELECT c.*, pt.payment_type, ist.internet_service_type, ct.contract_type
                FROM customers as c
                JOIN payment_types as pt on c.payment_type_id = pt.payment_type_id
                JOIN internet_service_types AS ist on ist.internet_service_type_id = c.internet_service_type_id
                JOIN contract_types as ct ON ct.contract_type_id = c.contract_type_id;'''

In [15]:
def get_db(db, user=user, host=host, password=password):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

In [11]:
df = pd.read_sql(my_telco_query, get_db('telco_churn'))

In [12]:
df

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,online_security,...,streaming_movies,contract_type_id,paperless_billing,payment_type_id,monthly_charges,total_charges,churn,payment_type,internet_service_type,contract_type
0,0003-MKNFE,Male,0,No,No,9,Yes,Yes,1,No,...,Yes,1,No,2,59.90,542.4,No,Mailed check,DSL,Month-to-month
1,0013-MHZWF,Female,0,No,Yes,9,Yes,No,1,No,...,Yes,1,Yes,4,69.40,571.45,No,Credit card (automatic),DSL,Month-to-month
2,0015-UOCOJ,Female,1,No,No,7,Yes,No,1,Yes,...,No,1,Yes,1,48.20,340.35,No,Electronic check,DSL,Month-to-month
3,0023-HGHWL,Male,1,No,No,1,No,No phone service,1,No,...,No,1,Yes,1,25.10,25.1,Yes,Electronic check,DSL,Month-to-month
4,0032-PGELS,Female,0,Yes,Yes,1,No,No phone service,1,Yes,...,No,1,No,3,30.50,30.5,Yes,Bank transfer (automatic),DSL,Month-to-month
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9950-MTGYX,Male,0,Yes,Yes,28,Yes,No,3,No internet service,...,No internet service,3,Yes,4,20.30,487.95,No,Credit card (automatic),None,Two year
7039,9953-ZMKSM,Male,0,No,No,63,Yes,Yes,3,No internet service,...,No internet service,3,No,2,25.25,1559.3,No,Mailed check,None,Two year
7040,9964-WBQDJ,Female,0,Yes,No,71,Yes,Yes,3,No internet service,...,No internet service,3,Yes,4,24.40,1725.4,No,Credit card (automatic),None,Two year
7041,9972-EWRJS,Female,0,Yes,Yes,67,Yes,No,3,No internet service,...,No internet service,3,Yes,3,19.25,1372.9,No,Bank transfer (automatic),None,Two year
7042,9975-GPKZU,Male,0,Yes,Yes,46,Yes,No,3,No internet service,...,No internet service,3,No,4,19.75,856.5,No,Credit card (automatic),None,Two year

In [14]:
# This acquire code will allow the user, with proper credentials to the CodeUp database access the same original dataframe that I started with in my process.

def get_telco_data():
    
    my_telco_query = '''SELECT c.*, pt.payment_type, ist.internet_service_type, ct.contract_type
                FROM customers as c
                JOIN payment_types as pt on c.payment_type_id = pt.payment_type_id
                JOIN internet_service_types AS ist on ist.internet_service_type_id = c.internet_service_type_id
                JOIN contract_types as ct ON ct.contract_type_id = c.contract_type_id;'''
    
    
    filename = 'telco_data.csv'
    
    if os.path.isfile(filename):
        return pd.read_csv(filename)
    else:
        telco_df = pd.read_sql(my_telco_query, get_db('telco_churn'))
        telco_df.to_csv(filename, index = False)
        
    return telco_df

In [17]:
df = get_telco_data()

In [18]:
df

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,online_security,...,streaming_movies,contract_type_id,paperless_billing,payment_type_id,monthly_charges,total_charges,churn,payment_type,internet_service_type,contract_type
0,0003-MKNFE,Male,0,No,No,9,Yes,Yes,1,No,...,Yes,1,No,2,59.90,542.4,No,Mailed check,DSL,Month-to-month
1,0013-MHZWF,Female,0,No,Yes,9,Yes,No,1,No,...,Yes,1,Yes,4,69.40,571.45,No,Credit card (automatic),DSL,Month-to-month
2,0015-UOCOJ,Female,1,No,No,7,Yes,No,1,Yes,...,No,1,Yes,1,48.20,340.35,No,Electronic check,DSL,Month-to-month
3,0023-HGHWL,Male,1,No,No,1,No,No phone service,1,No,...,No,1,Yes,1,25.10,25.1,Yes,Electronic check,DSL,Month-to-month
4,0032-PGELS,Female,0,Yes,Yes,1,No,No phone service,1,Yes,...,No,1,No,3,30.50,30.5,Yes,Bank transfer (automatic),DSL,Month-to-month
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9950-MTGYX,Male,0,Yes,Yes,28,Yes,No,3,No internet service,...,No internet service,3,Yes,4,20.30,487.95,No,Credit card (automatic),None,Two year
7039,9953-ZMKSM,Male,0,No,No,63,Yes,Yes,3,No internet service,...,No internet service,3,No,2,25.25,1559.3,No,Mailed check,None,Two year
7040,9964-WBQDJ,Female,0,Yes,No,71,Yes,Yes,3,No internet service,...,No internet service,3,Yes,4,24.40,1725.4,No,Credit card (automatic),None,Two year
7041,9972-EWRJS,Female,0,Yes,Yes,67,Yes,No,3,No internet service,...,No internet service,3,Yes,3,19.25,1372.9,No,Bank transfer (automatic),None,Two year
7042,9975-GPKZU,Male,0,Yes,Yes,46,Yes,No,3,No internet service,...,No internet service,3,No,4,19.75,856.5,No,Credit card (automatic),None,Two year